# Data ETL

### Import libraries

In [780]:
import pandas as pd

#sets the default autosave frequency in seconds
%autosave 60 

import warnings
warnings.filterwarnings('ignore')

Autosaving every 60 seconds

### Exploratory Data Analysis

##### Load Data:

In [781]:
content = pd.read_csv('/Users/deborabastos/Documents/3.DataScience/accenture_data_analytics/data/Content (1).csv')
reactions = pd.read_csv('/Users/deborabastos/Documents/3.DataScience/accenture_data_analytics/data/Reactions (1).csv')
reaction_type = pd.read_csv('/Users/deborabastos/Documents/3.DataScience/accenture_data_analytics/data/ReactionTypes (1).csv')

##### Verify Data Content

In [782]:
content.head()

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [783]:
reactions.head()

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01

In [784]:
reaction_type.head()

   Unnamed: 0        Type Sentiment  Score
0           0       heart  positive     60
1           1        want  positive     70
2           2     disgust  negative      0
3           3        hate  negative      5
4           4  interested  positive     30

##### Select columns of interest

In [785]:
my_content = content[['Content ID', 'User ID', 'Type', 'Category']]
my_reactions = reactions[['Content ID', 'Type', 'Datetime']]
my_reaction_type = reaction_type[['Type', 'Sentiment', 'Score']]

##### Adjusting Category strings (lower case and removing quotes)

In [786]:
my_content['Category'] = my_content['Category'].str.lower()
my_content['Category'] = my_content['Category'].str.replace(r'"', "")

##### Count Content, Users, Type of Content and Category

In [787]:
my_content.nunique()

Content ID    1000
User ID        446
Type             4
Category        16
dtype: int64

##### List content by categories

In [788]:
my_content.groupby('Category')["Content ID"].count()

Category
animals            72
cooking            61
culture            67
dogs               58
education          59
fitness            66
food               64
healthy eating     62
public speaking    50
science            68
soccer             64
studying           58
technology         73
tennis             59
travel             69
veganism           50
Name: Content ID, dtype: int64

##### Merge Reactions and Content

In [789]:
my_data = pd.merge(my_reactions, my_content, on='Content ID', how="left")
my_data.head()

,Content ID,Type_x,Datetime,User ID,Type_y,Category
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,2021-04-22 15:17:15,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying

##### Rename columns

In [790]:
my_data.rename(columns = {'Type_x':'Reaction Type', 'User ID':'User ID (Post owner)', 'Type_y':'Content Type'}, inplace = True)
my_data.head()

,Content ID,Reaction Type,Datetime,User ID (Post owner),Content Type,Category
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,2021-04-22 15:17:15,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying

##### Add Reactions Types

In [791]:
my_data = pd.merge(my_data, my_reaction_type, left_on='Reaction Type', right_on="Type", how="left")
my_data.head()

,Content ID,Reaction Type,Datetime,User ID (Post owner),Content Type,Category,Type,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,2021-04-22 15:17:15,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying,NaN,NaN,NaN
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying,disgust,negative,0.0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying,dislike,negative,10.0
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying,scared,negative,15.0
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying,disgust,negative,0.0

##### Delete duplicated column (Type)

In [792]:
my_data = my_data.drop('Type', 1)
my_data.head()

,Content ID,Reaction Type,Datetime,User ID (Post owner),Content Type,Category,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,2021-04-22 15:17:15,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying,NaN,NaN
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying,negative,0.0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying,negative,10.0
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying,negative,15.0
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying,negative,0.0

##### Clear data (delete invalid values)

In [793]:
# Check for invalid value
my_data.isnull().sum()

Content ID                0
Reaction Type           980
Datetime                  0
User ID (Post owner)      0
Content Type              0
Category                  0
Sentiment               980
Score                   980
dtype: int64

In [794]:
# Delete NaN
my_data.dropna(subset = ["Score"], inplace=True)

In [795]:
# Check if all invalid value was deleted
my_data.isnull().sum()

Content ID              0
Reaction Type           0
Datetime                0
User ID (Post owner)    0
Content Type            0
Category                0
Sentiment               0
Score                   0
dtype: int64

##### Check final DataFrame

In [796]:
my_data

,Content ID,Reaction Type,Datetime,User ID (Post owner),Content Type,Category,Sentiment,Score
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying,negative,0.0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying,negative,10.0
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying,negative,15.0
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying,negative,0.0
5,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying,positive,30.0
...,...,...,...,...,...,...,...,...
25548,75d6b589-7fae-4a6d-b0d0-752845150e56,dislike,2020-06-27 09:46:48,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology,negative,10.0
25549,75d6b589-7fae-4a6d-b0d0-752845150e56,intrigued,2021-02-16 17:17:02,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology,positive,45.0
25550,75d6b589-7fae-4a6d-b0d0-752845150e56,interested,2020-09-12 03:54:58,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology,positive,30.0
25551,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,2020-11-04 20:08:31,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology,negative,12.0
25552,75d6b589-7fae-4a6d-b0d0-752845150e56,cherish,2021-01-04 04:55:11,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology,positive,70.0

##### Export Dataframe

In [797]:
my_data.to_csv('/Users/deborabastos/Documents/3.DataScience/accenture_data_analytics/data/my_data.csv', index=False)