In [22]:
# Import libraries
import pandas as pd

In [23]:
# Load data
content = pd.read_csv('/Users/deborabastos/Documents/3.DataScience/accenture_data_analytics/data/Content (1).csv')
reactions = pd.read_csv('/Users/deborabastos/Documents/3.DataScience/accenture_data_analytics/data/Reactions (1).csv')
reaction_type = pd.read_csv('/Users/deborabastos/Documents/3.DataScience/accenture_data_analytics/data/ReactionTypes (1).csv')

In [24]:
# Verify data content
content.head()

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [25]:
reactions.head()

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01

In [26]:
reaction_type.head()

   Unnamed: 0        Type Sentiment  Score
0           0       heart  positive     60
1           1        want  positive     70
2           2     disgust  negative      0
3           3        hate  negative      5
4           4  interested  positive     30

In [27]:
# Select colunms of interest
my_content = content[['Content ID', 'Category']]
my_reactions = reactions[['Content ID', 'Type']]
my_reaction_type = reaction_type[['Type', 'Sentiment', 'Score']]

In [28]:
# Check how many posts
my_content.count()

Content ID    1000
Category      1000
dtype: int64

In [29]:
# Fixing strings on Category (all lower and removing quotes)
my_content['Category'] = my_content['Category'].str.lower()
my_content['Category'] = my_content['Category'].str.replace(r'"', "")

/var/folders/hn/zqmlf1cd4s3_llkx270x0kw80000gn/T/ipykernel_38088/2163292038.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_content['Category'] = my_content['Category'].str.lower()
/var/folders/hn/zqmlf1cd4s3_llkx270x0kw80000gn/T/ipykernel_38088/2163292038.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_content['Category'] = my_content['Category'].str.replace(r'"', "")

In [30]:
# Check and count categories by content
my_content.groupby('Category').count()

                 Content ID
Category
animals                  72
cooking                  61
culture                  67
dogs                     58
education                59
fitness                  66
food                     64
healthy eating           62
public speaking          50
science                  68
soccer                   64
studying                 58
technology               73
tennis                   59
travel                   69
veganism                 50

In [31]:
# Merge reactions, category and reactions score
my_data = pd.merge(my_reactions, my_content, on='Content ID', how="left")
my_data = pd.merge(my_data, my_reaction_type, on='Type', how="left")

In [32]:
my_data

,Content ID,Type,Category,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,studying,NaN,NaN
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,studying,negative,0.0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,studying,negative,10.0
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,studying,negative,15.0
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,studying,negative,0.0
...,...,...,...,...,...
25548,75d6b589-7fae-4a6d-b0d0-752845150e56,dislike,technology,negative,10.0
25549,75d6b589-7fae-4a6d-b0d0-752845150e56,intrigued,technology,positive,45.0
25550,75d6b589-7fae-4a6d-b0d0-752845150e56,interested,technology,positive,30.0
25551,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,technology,negative,12.0
25552,75d6b589-7fae-4a6d-b0d0-752845150e56,cherish,technology,positive,70.0

In [33]:
# Delete Type
my_data = my_data.drop('Type', 1)

/var/folders/hn/zqmlf1cd4s3_llkx270x0kw80000gn/T/ipykernel_38088/866685099.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  my_data = my_data.drop('Type', 1)

In [34]:
my_data

                                 Content ID    Category Sentiment  Score
0      97522e57-d9ab-4bd6-97bf-c24d952602d2    studying       NaN    NaN
1      97522e57-d9ab-4bd6-97bf-c24d952602d2    studying  negative    0.0
2      97522e57-d9ab-4bd6-97bf-c24d952602d2    studying  negative   10.0
3      97522e57-d9ab-4bd6-97bf-c24d952602d2    studying  negative   15.0
4      97522e57-d9ab-4bd6-97bf-c24d952602d2    studying  negative    0.0
...                                     ...         ...       ...    ...
25548  75d6b589-7fae-4a6d-b0d0-752845150e56  technology  negative   10.0
25549  75d6b589-7fae-4a6d-b0d0-752845150e56  technology  positive   45.0
25550  75d6b589-7fae-4a6d-b0d0-752845150e56  technology  positive   30.0
25551  75d6b589-7fae-4a6d-b0d0-752845150e56  technology  negative   12.0
25552  75d6b589-7fae-4a6d-b0d0-752845150e56  technology  positive   70.0

[25553 rows x 4 columns]

In [35]:
# Check for invalid value
my_data.isnull().sum()

Content ID      0
Category        0
Sentiment     980
Score         980
dtype: int64

In [36]:
# Delete NaN
my_data.dropna(subset = ["Score"], inplace=True)

In [37]:
# Check if all invalid value are deleted
my_data.isnull().sum()

Content ID    0
Category      0
Sentiment     0
Score         0
dtype: int64

In [38]:
my_data

                                 Content ID    Category Sentiment  Score
1      97522e57-d9ab-4bd6-97bf-c24d952602d2    studying  negative    0.0
2      97522e57-d9ab-4bd6-97bf-c24d952602d2    studying  negative   10.0
3      97522e57-d9ab-4bd6-97bf-c24d952602d2    studying  negative   15.0
4      97522e57-d9ab-4bd6-97bf-c24d952602d2    studying  negative    0.0
5      97522e57-d9ab-4bd6-97bf-c24d952602d2    studying  positive   30.0
...                                     ...         ...       ...    ...
25548  75d6b589-7fae-4a6d-b0d0-752845150e56  technology  negative   10.0
25549  75d6b589-7fae-4a6d-b0d0-752845150e56  technology  positive   45.0
25550  75d6b589-7fae-4a6d-b0d0-752845150e56  technology  positive   30.0
25551  75d6b589-7fae-4a6d-b0d0-752845150e56  technology  negative   12.0
25552  75d6b589-7fae-4a6d-b0d0-752845150e56  technology  positive   70.0

[24573 rows x 4 columns]

In [39]:
# Export dataframe
my_data.to_csv('/Users/deborabastos/Documents/3.DataScience/accenture_data_analytics/data/my_data.csv', index=False)

In [40]:
total_categories = my_data.groupby("Category").sum("Scores")

In [41]:
total_categories.sort_values("Score", ascending=False)

                   Score
Category
animals          74965.0
science          71168.0
healthy eating   69339.0
technology       68738.0
food             66676.0
culture          66579.0
travel           64880.0
cooking          64756.0
soccer           57783.0
education        57436.0
fitness          55323.0
studying         54269.0
dogs             52511.0
tennis           50339.0
veganism         49619.0
public speaking  49264.0

In [42]:
total_content = my_data.groupby(["Content ID", "Category"]).sum("Score")

In [43]:
total_content.sort_values("Score", ascending=False)

                                                  Score
Content ID                           Category
292051b5-b835-4a60-962a-bddf10da82bd technology  2273.0
697af362-e84b-4429-b4ea-4123c6ab44ba science     2231.0
4dd4da35-453e-466d-95ca-b1a7710fac1f technology  2223.0
cd568dd1-70cf-45d6-b495-10eebff8c920 dogs        2222.0
31d142d9-4557-4613-bce5-cfe63cd0a3cf soccer      2164.0
...                                                 ...
7e9865ec-7455-4b39-89f7-92e2a82d0f12 education     10.0
88e43f42-027e-4256-bab4-2d1c2b6f8f67 education      5.0
48fd48c7-bc82-414e-8941-aa2090183aec dogs           5.0
16757b80-2803-4464-b5d7-e372d8d77337 technology     5.0
286e2f5f-082a-4ce7-9396-db565106d5bf studying       0.0

[962 rows x 1 columns]

In [44]:
total_categories['Score'].sum()

973645.0

In [45]:
total_content['Score'].sum()

973645.0

In [46]:
my_data.groupby(["Content ID", "Category", "Sentiment"]).count()

                                                               Score
Content ID                           Category       Sentiment
004e820e-49c3-4ba2-9d02-62db0065410c tennis         positive       1
00d0cdf9-5919-4102-bf84-ebde253c3cd2 healthy eating negative      13
                                                    neutral        4
                                                    positive      29
01396602-c759-4a17-90f0-8f9b3ca11b30 tennis         negative      15
...                                                              ...
fea9077f-2fe7-43bd-aaef-dc2619988d94 culture        neutral        3
                                                    positive       2
ff883828-a610-492d-8635-8a777eaad25f education      negative      16
                                                    neutral       10
                                                    positive      22

[2710 rows x 1 columns]